{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert alert-success">
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% endwith %}

<div class="container mt-5">
  <div class="card">       
    <div class="card-body">
      <div class="container mt-5">
        <div class="event-form">
          <h2 class="text-center">Create New Event</h2>
              {{ render_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}