{% include "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="page-header">
    <h4>{{heading}}</h4>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
      <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<div class="col-md-6">
    {{ render_form(form)}}
    </div>

{% if heading|lower =='login' %}
<div class="col-md-4">
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
{% endif %}



{% endblock %}