{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <div class="container mt-5">
        
      <!-- Event -->>
        <div class="card">
            <img src="{{event.image}}" class="card-img-small" alt="Event Image">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">Date: {{event.date}}</p>
                <p class="card-text">Status: {{event.status}}</p>
                <p class="card-text">Time: {{event.starttime}} - {{event.endtime}}</p>
                <p class="card-text">Venue: {{event.venue}}</p>
                <p class="card-text">Description: {{event.description}}</p>
                <p class="card-text">Category: {{event.category}}</p>
                <p class="card-text">Event Price: ${{event.price}}</p>

                {% if current_user.is_authenticated %}
                <button class="btn btn-warning col-md-12" data-bs-toggle="modal" data-bs-target="#purchase"> Book Tickets </button>
                {% else %}
                <h5>You Must Log in to Book Tickets</h5>
                <br>
                <button  class="custom-signin-btn" data-bs-toggle="modal" data-bs-target="#register">Register</button >
                <br>
                <button  class="custom-signin-btn" data-bs-toggle="modal" data-bs-target="#login">Log In</button >
                {% endif %}

            </div>
        </div>

        <!-- Tickets -->>

      <div class="modal fade" id="purchase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Booking</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                {{ render_form(ticket_form) }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Comments -->>
      
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title">Comments</h2>    
                {% for comment in event.comments %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{comment.user.name}}</h5>
                        <p class="card-text">{{comment.text}}</p>
                    </div>
                </div>
                {% endfor %}

            
            <div class=" comment-form card mb-3">
              <h5>Add your comment:</h5>
              <div class="form-group">
                  {{ render_form(comment_form, "{0}/comment".format(event.id)) }}
              </div>
            </div>
        </div>
    </div>

{% endblock %}