{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
     
        <div class="card">
            <img src="static/img/img1.jpeg" class="card-img-small" alt="Event Image">
            <div class="card-body">
                <h5 class="card-title">Stevie G and the Lads</h5>
                <p class="card-text">Date: September 15, 2023</p>
                <p class="card-text">Event Status: Open</p>
                <p class="card-text">Time: 3:00 PM - 6:00 PM</p>
                <p class="card-text">Venue: Brisbane City Venue</p>
                <p class="card-text">Description: Stevie G and the lads perform a rock performance that will rock your world, coming to Brisbane get your tickets now</p>
                <p class="card-text">Category: Rock</p>
                <p class="card-text">Event Price: $40</p>


            </div>
        </div>

      
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title">Book Your Tickets</h2>
                <form>
                    <div class="col-lg-12">
                        <label for="name" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="eg. Steve Smith" required>
                    </div>
                    <div class="col-lg-12 ">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="eg. Steve@gmail,com" required>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Number of Tickets</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="eg. 4" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Book Now</button>
                </form>
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title">Comments</h2>
        
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">James Love</h5>
                        <p class="card-text">Great event! I really enjoyed it last time there were in Brisbane.</p>
                    </div>
                <br>
                <div class="card mb-3">
                    <div class="card-body">
                            <h5 class="card-title">Tom Jones</h5>
                            <p class="card-text">My top rock artist lets goo boys!!!.</p>
                    </div>
                </div>
            
                <h5>Add your comment:</h5>
                <div class="form-group">
                    <input type="text" class="form-control" id="commentInput" placeholder="Your comment">
                </div>
                <button class="btn btn-primary">Post Comment</button>
            </div>
        </div>
    </div>
{% endblock %}