{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<body>
    <div class="container mt-4">
        <h1>My Booked Events</h1>
        <div class="row">
            {% for ticket in tickets %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ticket.event_name}}</h5>
                        <p class="card-text">Booking ID: {{ticket.order_number}}</p>
                        <p class="card-text">Booked on: {{ticket.created_at.strftime("%B %d, %Y %H:%M")}}</p>
                        <p class="card-text">Price: ${{ticket.price}}</p>
                        
                        <a href="{{ url_for('event.show', id=ticket.event_id) }}"  class="btn btn-primary">Event Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}                   
        </div>
    </div>
</body>

{% endblock %}