{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Concerts</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="custom-dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search by Category
                </button>
                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Concerts</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Rock</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Jazz</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Rap</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Blues</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Hip Hop</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">R and B</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 mt-3">
            <div class="custom-dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Search by Status
                </button>
                <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Open</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Inactive</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Sold out</a>
                    <a class="dropdown-item custom-dropdown-item" href="{{ url_for('main.index') }}">Cancelled</a>
                </div>
            </div>
        </div>
    </div>

    <!--div class="row my-5"-->
    <div class="card-group">
        {% for event in event %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card">
                <img class="card-img-top" src="{{ event.image }}" alt="Event 1 Image">
                <div class="card-body">
                    <h5 class="card-title">{{event.name}}</h5>
                    <p class="card-text">{{event.description}}</p>
                    <a href="{{ url_for('event.show', id=event.id) }}" class="btn btn-primary">Event Information</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--/div-->

</div>
{% endblock %}
